//- _components/workItem/workItems.jade

//- slug => string
//- name => string
//- role => string
//- goal => sttring
//- activities => array of strings

//- images => array of strings

- var images = partial("../../_helpers/getImages")

article(id="#{slug}")

  header
    h2= name
    span= role

  ul#images
    for image in images
      li: img(src="./assets/images/#{slug}/#{image}")

  h3 Goal
  p= goal

  h3 Activities
  p= activities.join(', ')